[global_tags]
project = "Projectname"
output ="influx"
[agent]
hostname = "agent_hostname"

[database.influx]
type = "influxdb"
host = "scheme://ip:port"
db = "ping"
measurement = "ping"
user = "ping"
pass = "pong"

[probe.icmp]
retries = 5
packet = 56
step = 60
[[group]]
name = "test1"
    [[group.host]]
	ip = "8.8.4.4"
	fqdn = "ns1.google.com"
	probe = "icmp"
    [[group.host]]
	ip = "8.8.8.8"
	fqdn = "ns2.google.com"
	probe = "icmp"

[[group]]
name = "test2"
    [[group.host]]
	ip = "ip"
	fqdn = "hostname"
	probe = "icmp"